<h3><%= projectSectionName %></h3>
<div class="container">
    <table class="table">
        <tbody>
            <% _.each( sectionItems, function( keyobj ) {%>
                <tr class="borderless">
                    <td>
                        <span class="label label-default"><%= keyobj.dateRange %></span>
                    </td>
                    <td>
                        <span onclick="document.querySelector('#id<%= keyobj.id %>').toggle();" class="extendable"><%= keyobj.title %></span>
                    </td>
                    <td>
                        <%= keyobj.comment %>
                    </td>
                </tr>
                <tr class="borderless">
                    <td colspan="3">
                        <core-collapse id="id<%= keyobj.id %>">
                            <div>
                                <%= keyobj.detail %>
                            </div>
                        </core-collapse>
                    </td>
                </tr>
                <% } ); %>
        </tbody>
    </table>
</div>
