<h3><%= projectSectionName %></h3>
<% _.each( sectionItems, function( keyobj ) {%>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="collapse-card__title">
                <span class="label label-default resumedate"><%= keyobj.dateRange %></span>
                <i class="fa fa-2x fa-fw"></i>
                <%= keyobj.title %>
            </div>
        </div>
        <div class="collapse-card__body">
            <%= keyobj.detail %>
            <div class="collapse-card__close_handler mt1 align-right mouse-pointer">
                Collapse <i class="fa fa-chevron-up"></i>
            </div>
        </div>
    </div>
<% } ); %>
