<h3><%= resumeSectionName %></h3>
<div class="container">
    <table class="table">
        <tbody>
            <% _.each( sectionItems, function( keyobj ) {%>
                <tr class="borderless">
                    <td>
                        <span class="label label-default"><%= keyobj.dateRange %></span>
                    </td>
                    <td>
                        <%= keyobj.title %>
                    </td>
                    <td>
                        <%= keyobj.comment %>
                    </td>
                </tr>
                <% } ); %>
        </tbody>
    </table>
</div>
