<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
       <a class="navbar-brand" href="#">Time line</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav" id="timelinefilters">
            <li>
                <a href="#/" class="selected">All</a>
            </li>
            <li>
                <a href="#/tech">Tech</a>
            </li>
            <li>
                <a href="#/mood">Mood</a>
            </li>
            <li>
                <a href="#/news">News</a>
            </li>
        </ul>
    </div>
</nav>